{% extends 'base.html.twig' %}

{% block title %}Category Details - Gustora{% endblock %}

{% block body %}
<div class="container-xxl p-0">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg mt-5 border-0 rounded-4">
                <div class="card-header bg-white text-dark text-center rounded-top border-bottom">
                    <h2 class="mb-0 fw-bold">Category Details</h2>
                </div>
                <div class="card-body bg-light rounded-bottom">
                    <table class="table table-bordered table-striped mb-4">
                        <tbody>
                            <tr>
                                <th scope="row" class="w-25">ID</th>
                                <td>{{ category.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ category.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Description</th>
                                <td>{{ category.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('app_category_index') }}" class="btn btn-primary">
                            <i class="fas fa-arrow-left me-2"></i>Back to list
                        </a>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-success">
                            <i class="fas fa-edit me-2"></i>Edit
                        </a>
                        <div>
                            {{ include('category/_delete_form.html.twig', {'button_class': 'btn btn-danger'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
